In [ ]:
from IPython.display import display, HTML
import pandas as pd
import sqlite3
from sqlite3 import Error

def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows

def insert_data(file,create_statement,insert_statement,val):
	dr ={}
	conn = create_connection('Boston_crime.db', True)
	cur = conn.cursor()


	with conn:
		create_table(conn,create_statement)
	with open(file,'r') as file:
		shootings_dict = csv.DictReader(file)
		

	cur.executemany(insert_statement,val)
	conn.commit()
	conn.close()
 
def Crime_Inc_Rep(file):
  conn = create_connection('Boston_crime.db', True)
  cur = conn.cursor()

  with open(file,'r') as file:
    my_dict = csv.DictReader(file)
    val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
            ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
            ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
            ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
            ,i['Location']) for i in my_dict]

  cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)
  conn.commit()
  conn.close()

In [ ]:
#Shootings Table Data
dr ={}
conn = create_connection('Boston_crime.db', True)
cur = conn.cursor()
sql_statement = '''CREATE table Shootings (Incident_Num TEXT, Shooting_Date TEXT, 
                  District TEXT, Shooting_Type_V2 TEXT, Victim_Gender TEXT, 
                  Victim_Race TEXT,Victim_Ethnicity_NIBRS TEXT,Multi_Victim TEXT);'''
with conn:
  create_table(conn,sql_statement)
with open('Shootings.csv','r') as file:
  shootings_dict = csv.DictReader(file)
  val = [(i['Incident_Num'],i['Shooting_Date'],i['District'],i['Shooting_Type_V2'],i['Victim_Gender'],i['Victim_Race'],i['Victim_Ethnicity_NIBRS'],i['Multi_Victim']) for i in shootings_dict]

cur.executemany("INSERT INTO SHOOTINGS VALUES (?,?,?,?,?,?,?,?)",val)
conn.commit()
conn.close()

NameError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
conn = create_connection('Boston_crime.db')
sql_statement = "select * from shootings;"
df = pd.read_sql_query(sql_statement, conn)
#display(df)

In [ ]:
#Shots Fired Table Data
dr ={}
conn = create_connection('Boston_crime.db', True)
cur = conn.cursor()
sql_statement = '''CREATE table Shots_Fired(Incident_Num TEXT, Incident_Date TEXT, 
                  District TEXT, Ballistics_Evidence TEXT);'''
with conn:
  create_table(conn,sql_statement)
with open('Shots_Fired.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['Incident_Num'],i['Incident_Date'],i['District'],i['Ballistics_Evidence']) for i in my_dict]

cur.executemany("INSERT INTO Shots_Fired VALUES (?,?,?,?)",val)
conn.commit()
conn.close()

In [ ]:
conn = create_connection('Boston_crime.db')
sql_statement = "select * from shots_fired;"
df = pd.read_sql_query(sql_statement, conn)
#display(df)

In [ ]:
#Crime Incident Report Table Data
dr ={}
conn = create_connection('Boston_crime.db', True)
cur = conn.cursor()

sql_statement = '''CREATE table Crime_Incident_Reports(Incident_Num TEXT, Offense_Code TEXT, 
		   Offense_Code_Group TEXT, Offense_Description TEXT, District TEXT,
		   Reporting_Area TEXT, Shooting TEXT, Occurred_On_Date TEXT, 
		   Year TEXT, Month TEXT,Day_Of_Week TEXT, Hour TEXT, UCR_Part,
		   Street TEXT, Lat TEXT,Long TEXT, Location TEXT);'''
with conn:
  create_table(conn,sql_statement)

# Crime_Inc_Rep('crime-incident-reports-2015.csv')
# Crime_Inc_Rep('crime-incident-reports-2016.csv')
  
with open('crime-incident-reports-2015.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)

with open('crime-incident-reports-2016.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)

with open('crime-incident-reports-2017.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)

with open('crime-incident-reports-2018.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)

with open('Crime_Incident_Reports_2019.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)


with open('Crime_Incident_Reports_2020.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)


with open('Crime_Incident_Reports_2021.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['INCIDENT_NUMBER'],i['OFFENSE_CODE'],i['OFFENSE_CODE_GROUP'],i['OFFENSE_DESCRIPTION']
          ,i['DISTRICT'],i['REPORTING_AREA'],i['SHOOTING'],i['OCCURRED_ON_DATE']
          ,i['YEAR'],i['MONTH'],i['DAY_OF_WEEK'],i['HOUR']
          ,i['UCR_PART'],i['STREET'],i['Lat'],i['Long']
          ,i['Location']) for i in my_dict]
cur.executemany("INSERT INTO Crime_Incident_Reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)


conn.commit()
conn.close()

In [ ]:
conn = create_connection('Boston_crime.db')
sql_statement = "select count(*) from Crime_Incident_Reports;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

   count(*)
0    556771

In [ ]:
#BEST Table data

dr ={}
conn = create_connection('Boston_crime.db', True)
cur = conn.cursor()
sql_statement = '''CREATE table Best(Month TEXT, Incidents TEXT, 
                  Proactive_Engagements TEXT);'''
with conn:
  create_table(conn,sql_statement)
with open('Boston Emergency Services Team Best.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['Month'],i['incidents'],i['proactive_engagements']) for i in my_dict]

cur.executemany("INSERT INTO Best VALUES (?,?,?)",val)
conn.commit()
conn.close()

In [ ]:
conn = create_connection('Boston_crime.db')
sql_statement = "select count(*) from Best;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

   count(*)
0        15

In [ ]:
# in_custody_death Table data
dr ={}
conn = create_connection('Boston_crime.db', True)
cur = conn.cursor()
sql_statement = '''CREATE table in_custody_deaths(incident_number TEXT, incident_date TEXT, 
                  incident_location TEXT, incident_district TEXT,during_arrest TEXT, during_transport TEXT,
                  while_in_holding_cell TEXT, other TEXT,
                  prisoner_age TEXT, prisoner_race TEXT,
                  prisoner_sex_mf TEXT);'''
with conn:
  create_table(conn,sql_statement)
with open('in-custody-deaths.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['incident_number'],i['incident_date'],i['incident_location']
          ,i['incident_district'],i['during_arrest'],i['during_transport'],i['while_in_holding_cell']
          ,i['other'],i['prisoner_age'],i['prisoner_race'],i['prisoner_sex_mf']) for i in my_dict]

cur.executemany("INSERT INTO in_custody_deaths VALUES (?,?,?,?,?,?,?,?,?,?,?)",val)
conn.commit()
conn.close()

In [ ]:
conn = create_connection('Boston_crime.db')
sql_statement = "select count(*) from in_custody_deaths;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

   count(*)
0         6

In [ ]:
# bpd_firearm_recovery_counts table data
dr ={}
conn = create_connection('Boston_crime.db', True)
cur = conn.cursor()
sql_statement = '''CREATE table bpd_firearm_recovery_counts(collection_date TEXT, crime_guns_recovered TEXT, 
                  guns_recovered_safeguard TEXT, buyback_gunsrecovered);'''
with conn:
  create_table(conn,sql_statement)
with open('BPD Firearm Recovery Counts.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['CollectionDate'],i['CrimeGunsRecovered'],i['GunsRecoveredSafeguard']
          ,i['BuybackGunsRecovered']) for i in my_dict]

cur.executemany("INSERT INTO bpd_firearm_recovery_counts VALUES (?,?,?,?)",val)
conn.commit()
conn.close()

In [ ]:
conn = create_connection('Boston_crime.db')
sql_statement = "select count(*) from bpd_firearm_recovery_counts;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

   count(*)
0      1952

In [ ]:
# homicide_clearance_rate table data
dr ={}
conn = create_connection('Boston_crime.db', True)
cur = conn.cursor()
sql_statement = '''CREATE table homicide_clearance_rate(year TEXT, homicides TEXT, 
                  same_year_clear TEXT, previous_year_clear TEXT, 
                  same_year_not_cleared TEXT, total_clear TEXT,
                  percent_cleared_same_year TEXT, percent_cleared_previous_year TEXT,
                  percent_not_cleared_same_year TEXT, clearance_rate TEXT,
                  percent_of_cleared_same_year TEXT, percent_of_cleared_previous_year TEXT);'''
with conn:
  create_table(conn,sql_statement)
with open('homicide-clearance-rate.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['Year'],i['Homicides'],i['Same Year Clear']
          ,i['Previous Year Clear'],i['Same Year Not Cleared'],i['Total Clear']
          ,i['Percent Cleared Same Year'],i['Percent Cleared Previous Year']
          ,i['Percent Not Cleared Same Year'],i['Clearance Rate'],i['Percent of Cleared Same Year']
          ,i['Percent of Cleared Previous Year']) for i in my_dict]

cur.executemany("INSERT INTO homicide_clearance_rate VALUES (?,?,?,?,?,?,?,?,?,?,?,?)",val)
conn.commit()
conn.close()

In [ ]:
conn = create_connection('Boston_crime.db')
sql_statement = "select count(*) from homicide_clearance_rate;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

   count(*)
0         6

In [ ]:
#historical_data_crime_incident_reports table data
dr ={}
conn = create_connection('Boston_crime.db', True)
cur = conn.cursor()
sql_statement = '''CREATE table historical_data_crime_incident_reports(compnos TEXT, nature_code TEXT, 
                  incident_type_desc TEXT, main_crime_code TEXT, 
                  rept_district TEXT, reporting_area TEXT,
                  from_date TEXT, weapon_type TEXT,
                  shooting TEXT, domestic TEXT,
                  shift TEXT, year TEXT,month TEXT, day_week TEXT,
                  ucr_part TEXT, x TEXT, y TEXT,
                  street_name TEXT, xstreet_name TEXT,location TEXT);'''
with conn:
  create_table(conn,sql_statement)
with open('crime-incident-reports-july-2012-august-2015-source-legacy-system.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['COMPNOS'],i['NatureCode'],i['INCIDENT_TYPE_DESCRIPTION']
          ,i['MAIN_CRIMECODE'],i['REPTDISTRICT'],i['REPORTINGAREA']
          ,i['FROMDATE'],i['WEAPONTYPE']
          ,i['Shooting'],i['DOMESTIC'],i['SHIFT']
          ,i['Year'],i['Month'],i['DAY_WEEK'],i['UCRPART']
          ,i['X'],i['Y'],i['STREETNAME']
          ,i['XSTREETNAME'],i['Location']) for i in my_dict]

cur.executemany("INSERT INTO historical_data_crime_incident_reports VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)",val)
conn.commit()
conn.close()

In [ ]:
conn = create_connection('Boston_crime.db')
sql_statement = "select count(*) from historical_data_crime_incident_reports;"
df = pd.read_sql_query(sql_statement, conn)
display(df)

   count(*)
0    268056

In [ ]:
#rmsoffensecodes Table data
dr ={}
conn = create_connection('Boston_crime.db', True)
cur = conn.cursor()
sql_statement = '''CREATE table rmsoffensecodes(code TEXT, name TEXT);'''
with conn:
  create_table(conn,sql_statement)
with open('rmsoffensecodes.csv','r') as file:
  my_dict = csv.DictReader(file)
  val = [(i['CODE'],i['NAME']) for i in my_dict]

cur.executemany("INSERT INTO rmsoffensecodes VALUES (?,?)",val)
conn.commit()
conn.close()

FileNotFoundError: ignored